<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Mi cuenta</title>
</head>
<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/perfil.js}"></script>
    <script th:src="@{/resources/js/direccion.js}"></script>
    <script th:src="@{/resources/js/tarjeta.js}"></script>
</div>

<div class="page-content" id="content">
    <div class="container">
        <nav aria-label="breadcrumb"
             style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;); background: transparent;">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="simple-link" th:href="@{/}">Inicio</a></li>
                <li class="breadcrumb-item"><a class="simple-link" th:href="@{/usuario/perfil}">Mi cuenta</a></li>
                <li class="breadcrumb-item" th:if="${activeTab=='perfil'}"><a class="simple-link"
                                                                              th:href="@{/usuario/perfil}">Perfil</a>
                </li>
                <li class="breadcrumb-item" th:if="${activeTab=='direcciones'}"><a class="simple-link"
                                                                                   th:href="@{/usuario/direcciones}">Direcciones</a>
                </li>
                <li class="breadcrumb-item" th:if="${activeTab=='tarjetas'}"><a class="simple-link"
                                                                                th:href="@{/usuario/tarjetas}">Tarjetas</a>
                </li>
            </ol>
        </nav>
        <div class="mt-5">
            <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" th:classappend="${activeTab=='perfil'}?'active'"
                       th:href="@{/usuario/perfil}">Perfil</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" th:classappend="${activeTab=='direcciones'}?'active'"
                       th:href="@{/usuario/direcciones}">Direcciones</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" th:classappend="${activeTab=='tarjetas'}?'active'"
                       th:href="@{/usuario/tarjetas}">Tarjetas</a>
                </li>
            </ul>
            <div class="tab-content mt-5" id="myTabContent">
                <div aria-labelledby="perfil-tab" class="tab-pane fade" id="perfil" role="tabpanel"
                     th:classappend="${activeTab=='perfil'}?'show active'">
                    <div th:replace="usuario/mi-cuenta/mi-perfil"></div>
                </div>
                <div aria-labelledby="direcciones-tab" class="tab-pane fade" id="direcciones" role="tabpanel"
                     th:classappend="${activeTab=='direcciones'}?'show active'">
                    <div th:replace="usuario/mi-cuenta/mis-direcciones"></div>
                </div>
                <div aria-labelledby="tarjetas-tab" class="tab-pane fade" id="tarjetas" role="tabpanel"
                     th:classappend="${activeTab=='tarjetas'}?'show active'">
                    <div th:replace="usuario/mi-cuenta/mis-tarjetas"></div>
                </div>
            </div>

        </div>
    </div>
    <div th:replace="usuario/modals/modal-confirmacion-baja"></div>
    <div th:replace="usuario/modals/modal-generic-eliminar"></div>
    <div th:replace="usuario/modals/modal-direccion :: modal('btn-confirmar-direccion')"></div>
    <div th:replace="usuario/modals/modal-tarjeta :: modal('btn-confirmar-tarjeta')"></div>
</div>
</body>
</html>
