<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content, links, scripts)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/resources/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/resources/images/favicon/android-chrome-192x192.png}">
    <link rel="icon" type="image/png" sizes="512x512" th:href="@{/resources/images/favicon/android-chrome-512x512.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/images/favicon/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon/favicon.ico}">

    <title th:replace="${title}">Plantilla</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous">
    <!-- Bootstrap core CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/resources/css/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/css/custom.css}">
    <link rel="stylesheet" th:href="@{/resources/css/datepicker.css}">
    <th:block th:replace="${links}" />
</head>
<body>
    <header th:replace="~{layout/header}"></header>

    <th:block th:replace="${content}" />

    <footer th:replace="~{layout/footer}" ></footer>

    <th:block th:replace="${scripts}" />

   <!--
       <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->
    <!-- Bootstrap 5     -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>



    <script th:src="@{/resources/js/bootstrap-datepicker.es.js}"></script>
    <script th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/resources/js/main.js}"></script>
    <script type="text/javascript">
        CONTEXT_ROOT = '[[@{/}]]';
        URI = '[[${#httpServletRequest.requestURI}]]'
    </script>
    <script>
        jQuery(function () {
            if( /Android|webOS|iPhone|iPad|Mac|Macintosh|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                if (CONTEXT_ROOT !== URI) {
                    $("#banner").addClass("shrink");
                    $('.collapse-nav-bar-icon, .collapse-nav-bar-form').show();
                    $('.banner').hide();
                    $('nav').removeClass('nav-transparent');
                    $('nav').addClass('nav-colored');
                }

                $(document).on("scroll", function () {
                    if (CONTEXT_ROOT === URI) {
                        if ($(document).scrollTop() > 86) {
                            $("#banner").addClass("shrink");
                            $('.collapse-nav-bar-icon, .collapse-nav-bar-form').fadeIn("slow");
                            $('nav').removeClass('nav-transparent');
                            $('nav').addClass('nav-colored');
                        } else {
                            $("#banner").removeClass("shrink");
                            $('.collapse-nav-bar-icon, .collapse-nav-bar-form').hide();
                            $('nav').addClass('nav-transparent');
                            $('nav').removeClass('nav-colored');
                        }
                    }
                });
            } else {
                if (CONTEXT_ROOT !== URI) {
                    $("#banner").addClass("shrink");
                    $('.navbar-brand, .navbar-form').show();
                    $('.banner').hide();
                    $('nav').removeClass('nav-transparent');
                    $('nav').addClass('nav-colored');
                }

                $(document).on("scroll", function () {
                    if (CONTEXT_ROOT === URI) {
                        if ($(document).scrollTop() > 86) {
                            $("#banner").addClass("shrink");
                            $('.navbar-brand, .navbar-form').fadeIn("slow");
                            $('nav').removeClass('nav-transparent');
                            $('nav').addClass('nav-colored');
                        } else {
                            $("#banner").removeClass("shrink");
                            $('.navbar-brand, .navbar-form').hide();
                            $('nav').addClass('nav-transparent');
                            $('nav').removeClass('nav-colored');
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
