<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     class="principal-navbar navbar navbar-expand-md navbar-dark fixed-top nav-transparent" id="banner">

    <!-- Toggler/collapsibe Button -->
    <div class="navbar-toggler container-fluid border-0">
        <a th:href="@{/}">
            <img class="collapse-nav-bar-icon" height="50vw" style="display: none;"
                 th:src="@{/resources/images/unicornbook_logo.png}"/>
        </a>
        <form class="collapse-nav-bar-form" method="get" style="display: none; width: 65%" th:action="@{/busquedas}"
              th:object="${filtro}">
            <div class="input-group">
                <input class="form-control form-control-lg" name="termino" th:value="${filtro}? ${filtro.termino}"
                       type="text"
                       placeholder="Título, autor, isbn..." aria-label="Text input with checkbox">
                <button class="btn btn-primary btn-search" type="submit">
                    <em class="fa fa-search"></em>
                </button>
            </div>
        </form>
        <button id="btn-toggle" style="background: transparent !important;" class="btn ms-auto p-r-0 p-l-0 p-t-0 p-b-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
                aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <i id="icon-bars" class="fa fa-bars fa-2x" style="color:white"></i>
            <style>
                #btn-toggle {
                    outline: none !important;
                    box-shadow: none !important;
                }
            </style>
        </button>
    </div>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}" style="display: none;">
            <img height="100vw" th:src="@{/resources/images/unicornbook_logo.png}"/>
        </a>

        <form class="navbar-form" method="get" style="display: none; width: 40%" th:action="@{/busquedas}"
              th:object="${filtro}">
            <div class="row">
                <div class="col-10">
                    <div class="input-group">
                        <input aria-label="Text input with checkbox" class="form-control form-control-lg" name="termino"
                               placeholder="Título, autor, isbn..."
                               th:value="${filtro}? ${filtro.termino}" type="text">
                        <button class="btn btn-primary btn-search" type="submit">Buscar</button>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <a class="link-secondary" th:href="@{/busquedas}" type="button">Búsqueda avanzada</a>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ms-auto">
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link btn btn-secondary m-3" style="background: transparent" th:href="@{/login}">INICIAR
                    SESIÓN</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link btn btn-primary m-3" style="background: white; color: #836aeb"
                   th:href="@{/usuario/nuevo}">REGÍSTRATE</a>
            </li>
            <!-- Dropdown -->
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle link-secondary" data-bs-toggle="dropdown"
                       href="#"
                       id="navbarDropdown" role="button"
                       th:text="${#strings.toUpperCase(T(org.unicorn.book.autenticacion.AutenticacionUtils).getNomeCompreto())}">
                        Username
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/usuario/perfil}"><em class="fa fa-user"></em>Mi cuenta</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/usuario/pedidos}"><em class="fa fa-shopping-cart"></em>Mis
                                pedidos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/contacto/consultas}"><em
                                    class="fa fa-question-circle"></em>Historial de consultas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/contacto/encargos}"><em class="fa fa-bookmark"></em>Historial
                                de encargos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/usuario/comentarios}"><em class="fa fa-comments"></em>Comentarios</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/cerrar-sesion}"><em class="fa fa-sign-out-alt"></em>Cerrar
                                sesión</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="cesta-simplificada-button" aria-controls="mi-cesta-container" class="nav-link btn cesta"
                       data-bs-target="#mi-cesta-container" data-bs-toggle="offcanvas" role="button">
                        <em aria-controls="mi-cesta-container" class="fa fa-shopping-cart cesta"
                            data-bs-target="#mi-cesta-container"
                            data-bs-toggle="offcanvas" style="color: white"></em>
                        <span class="badge badge-pill bg-danger" th:text="${countCarrito}"></span>
                    </a>
                </li>
            </th:block>
        </ul>
    </div>
</nav>

<div class="banner shadow-lg bg-white" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="banner-text">
            <div class="banner-heading text-center">
                <a th:href="@{/}">
                    <img class="banner-heading-icon" th:src="@{/resources/images/unicornbook_titulo.png}">
                </a>
            </div>
            <div class="banner-sub-heading text-center">
                La plataforma de comercio online y comunidad lectora de las librerías independientes.
                Más de un millón de libros comercializados en España y dónde conseguirlos.
            </div>
            <form method="get" th:action="@{/busquedas}" th:object="${filtro}">
                <div class="input-group search-group">
                    <input type="text" class="form-control form-control-lg input-search" name="termino"
                           placeholder="Título, autor, isbn..." aria-label="Text input with checkbox">
                    <button class="btn btn-primary btn-search" type="submit">Buscar</button>
                </div>
            </form>
            <p class="text-center mt-5">
                <a class="link-secondary" th:href="@{/busquedas}" type="button">Búsqueda avanzada</a>
            </p>
        </div>
    </div>
</div>
