.page-content {
    margin-top: 10em;
    margin-bottom: 2em;
}

legend {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}

.form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    /*border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 1.2em;
    height: 50px;
    line-height: 2em;*/
}

.btn-primary {
    background: linear-gradient(135deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    color: #ffffff;
}

.btn-secondary {
    border: 2px solid rgba(166,73,233,1);
    color: rgba(50,187,241,1) ;
}