@font-face {
    font-family: aloja-font;
    src: url(/resources/fonts/Aloja-Light.otf);
}

.body{
    font-family: 'aloja-font', sans-serif;
    font-size:16px;
}
p{
    color:#6c6c6f;
    font-size:1em;
}

.navbar-collapse {
    height: 100vh !important;
}

.navbar {
    padding-left: 0 !important;
}

.navbar-brand span {
    color: palevioletred;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

nav .fa {
    color: blueviolet;
    margin-right: 3px;
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
}

.navbar-nav .nav-item .nav-link:hover {
    color: palevioletred;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    width: 100%;
}

.dropdown-item:hover {
    background-color: palevioletred;
    color: #fff;
}

nav {
    -webkit-transition: padding-top .3s, padding-bottom .3s;
    -moz-transition: padding-top .3s, padding-bottom .3s;
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}
.nav-transparent {
    background: transparent;
}
.banner, .nav-colored{
    background: #836aeb;
    background: rgba(50,187,241,1);
    background: -moz-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(50,187,241,1)), color-stop(68%, rgba(166,73,233,1)), color-stop(100%, rgba(166,73,233,1)));
    background: -webkit-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    background: linear-gradient(135deg, rgba(50,187,241,1) 0%, rgba(166,73,233,1) 68%, rgba(166,73,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32bbf1', endColorstr='#a649e9', GradientType=1 );
}
.banner-text{
    padding: 100px 0 150px 0;
}

.banner-heading {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
    color: #fff;
}

.banner-heading-icon {
    width: 100%;
    max-width: 650px;
    height: auto;
}

.banner-sub-heading {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
    color: #fff;
}

.btn-search {
    border: 0;
    text-align: center;
    color: #fff;
    background: palevioletred !important;
    text-transform: uppercase;
}

.text-intro {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.search-group {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.input-search {
    line-height: 2em !important;
    font-size: 2em !important;
    font-weight: 500 !important;
}

.button-search {
    font-size: 1.8em !important;
    font-weight: 400 !important;
    background: rgba(50,187,241,1) !important;
    color: white !important;
    border-radius: 12px !important;
}

/* mobile view */
@media (max-width:500px)
{
    .navbar-nav{
        color:#fff;
        z-index:1;
        margin-top:5px;
    }
    .navbar-nav .nav-item .nav-link{
        padding: 0.7em 1em!important;
        font-size: 100%;
        font-weight: 500;
    }
    .banner-text{
        padding:130px 0 150px 0;
    }
    .banner-heading{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .banner-sub-heading{
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }

}

@media (max-width:768px){
    .banner-text{
        padding:130px 0 150px 0;
    }
    .banner-sub-heading{
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }
}
