<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, _, ~{::#scripts})}">

<head>
    <title id="title">Unicorn Book - No autorizado</title>
</head>

<body>
<div id="links"></div>
<div id="scripts"></div>

<div class="page-content" id="content">
    <div class="container">
        <div class="justify-content-center">
            <div class="text-center">
                <span>Error 403 - No autorizado</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>