<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, _, ~{::#scripts})}">

<head>
    <title id="title">Unicorn Book - No autorizado</title>
</head>

<body>
<div id="links"></div>
<div id="scripts"></div>

<div class="page-content" id="content">
    <div class="container">
        <div class="justify-content-center">
            <div class="text-center">
                <h1>Error 404</h1>
                <h2>Lo sentimos pero no fué posible encontrar la página</h2>
                <h3>La dirección posiblemente este corrupta o haya sido borrada</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>
