<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, _, ~{::#scripts})}">

<head>
    <title id="title">Unicorn Book - No autorizado</title>
</head>

<body>
<div id="scripts">

</div>
<div id="content" class="page-content">

    <div class="container-full">
        <section>
            <div class="container">
                Se ha producido un error
            </div>
        </section>
    </div>
</div>
</body>
</html>
