<div aria-labelledby="mi-cesta-container-label" class="offcanvas offcanvas-end" id="mi-cesta-container" tabindex="-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mi-cesta-container-label">Mi carrito</h5>
        <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            No hay libros en tu carrito
        </div>
        <div class="separator"></div>
    </div>
</div>