<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Mi cesta</title>
</head>
<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/direccion.js}"></script>
    <script th:src="@{/resources/js/tarjeta.js}"></script>
</div>

<div class="page-content" id="content">
    <div class="container">
        <div class="justify-content-center">
            <div th:if="${#lists.isEmpty(productos)}" class="text-center">
                <h3>Todavía no has añadido libros a tu cesta</h3>
            </div>
            <div th:unless="${#lists.isEmpty(productos)}">
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <span aria-controls="cesta" aria-selected="true" class="navigation-prevent nav-link active"
                              data-bs-target="#cesta"
                              data-toggle="tab" id="cesta-tab" role="tab">1 Productos</span>
                    </li>
                    <li class="nav-item" role="presentation">
                        <span aria-controls="direccion" aria-selected="false" class="navigation-prevent nav-link"
                              data-bs-target="#direccion"
                              data-toggle="tab" id="direccion-tab" role="tab">2 Envío</span>
                    </li>
                    <li class="nav-item" role="presentation">
                        <span aria-controls="pago" aria-selected="false" class="navigation-prevent nav-link"
                              data-bs-target="#pago"
                              data-toggle="tab" id="pago-tab" role="tab">3 Pago</span>
                    </li>
                    <li class="nav-item" role="presentation">
                        <span aria-controls="confirmacion" aria-selected="false" class="navigation-prevent nav-link"
                              data-bs-target="#confirmacion"
                              data-toggle="tab" id="confirmacion-tab" role="tab">4 Confirmar</span>
                    </li>
                </ul>
                <form id="compra-form" method="post" th:action="@{/usuario/confirmar-pedido}" th:object="${compraForm}">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="cesta" role="tabpanel" aria-labelledby="cesta-tab">
                            <div id="libros">
                                <div class="row justify-content-center" th:each="p:${productos}">
                                    <div class="col-lg-6 col-md-6 col-sm-12">

                                        <div class="card m-0 border-0">
                                            <div class="row g-0 pl-5 pr-5">
                                                <div class="col-md-3 d-flex justify-content-center">
                                                    <img alt="Portada"
                                                         class="card-img- shadow-lg mt-5 mb-5 bg-white rounded"
                                                         style="height: 10vh; margin: auto" th:src="${p.libroLinkPortada}">
                                                </div>
                                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                                    <div class="card-body">
                                                        <a class="card-title simple-link"
                                                           th:href="@{/libro/__${p.libroId}__}"><h5
                                                                th:text="${p.libroTitulo}"></h5></a>
                                                        <div class="col-lg-6 col-sm-12 col-md-12">
                                                            <select aria-label="Cantidad de libros"
                                                                    class="form-select actualizar-carrito"
                                                                    id="cantidadLibro" name="cantidad">
                                                                <option th:data-id-libro="${p.libroId}"
                                                                        th:each="i, stat: ${#numbers.sequence(1, p.libroStock)}"
                                                                        th:selected="${p.cantidad==i}" th:text="|x${i}|"
                                                                        th:value="${i}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 d-flex align-items-center justify-content-center">
                                                    <div class="card-body">
                                                        <h4 class="mb-0 text-center"
                                                            th:text="|${#numbers.formatDecimal(p.libroPrecio*p.cantidad, 0, 'POINT', 2, 'COMMA')} €|">
                                                            Precio</h4>
                                                        <p class="font-italic text-center" th:text="|(${#numbers.formatDecimal(p.libroPrecio, 0, 'POINT', 2, 'COMMA')}€ und.)|"></p>
                                                        <p class="text-center cesta-eliminar-libro">
                                                            <a class="mt-3 text-danger" th:href="@{/usuario/cesta/eliminar/__${p.libroId}__}">Eliminar</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="d-flex justify-content-end">
                                            <h3 class="card-title text-right" th:text="|Total: ${#numbers.formatDecimal(totalCarrito, 0, 'POINT', 2, 'COMMA')} €|"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 row justify-content-center">
                                <div class="col-lg-3 col-md-3 col-sm-6 justify-content-start">
                                    <a class="mt-3 text-danger" th:href="@{/usuario/cesta/vaciar}">Limpiar cesta</a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
                                    <a class="btn btn-secondary avanzar-formulario"
                                       data-direction="#direccion-tab"><span>Siguiente </span><em
                                            class="fa fa-arrow-right"></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="direccion" role="tabpanel" aria-labelledby="direccion-tab">
                            <input type="hidden" name="idDireccion"/>
                            <div class="row justify-content-center mb-3">
                                <div class="alert-not-null col-lg-6 col-md-6 col-sm-12 alert alert-danger" style="display: none">
                                    Es necesario indicar una dirección de envío para continuar
                                </div>
                            </div>
                            <div class="row justify-content-center mb-5">
                                <div class="col-lg-4 col-md-4 col-sm-8">
                                    <div class="form-floating mb-3 required">
                                        <select class="form-control" id="direcciones">
                                            <option value="-1">Seleccione una opción</option>
                                            <option th:each="i:${direcciones}"
                                                    th:text="${i.nombrePersonalizado}" th:value="${i.id}" th:data-id="|#direccion-${i.id}|"></option>
                                        </select>
                                        <label for="direcciones">Direcciones</label>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4">
                                    <button class="mt-1 btn btn-primary text-center btn-open-modal-direcciones"
                                            type="button">
                                        <em class="fa fa-plus"></em>
                                        <span> Nueva direccion</span>
                                    </button>
                                </div>
                            </div>
                            <div th:id="|direccion-${i.id}|" class="detalle-direcciones d-none" th:each="i:${direcciones}">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <strong><em class="fa fa-hashtag"></em><span th:text="${i.nombrePersonalizado}"></span></strong>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <span>Destinatario: </span><strong><span th:text="|${i.nombre} ${i.apellido1} ${i.apellido2}|"></span></strong>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <span>Direccion: </span><strong><span th:text="|${i.direccion}, ${i.codigoPostal}, ${i.provincia}, ${i.pais}|"></span></strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 row justify-content-center">
                                <div class="col-lg-3 col-md-3 col-sm-6 justify-content-start">
                                    <a class="btn btn-secondary avanzar-formulario" data-direction="#cesta-tab"><em class="fa fa-arrow-left"></em> <span>Atrás</span></a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
                                    <a class="btn btn-secondary avanzar-formulario" data-direction="#pago-tab" data-prev-action="validate" data-not-null="idDireccion"><span>Siguiente </span><em class="fa fa-arrow-right"></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pago" role="tabpanel" aria-labelledby="pago-tab">
                            <input type="hidden" name="idTarjeta"/>
                            <div class="row justify-content-center mb-3">
                                <div class="alert-not-null col-lg-6 col-md-6 col-sm-12 alert alert-danger" style="display: none">
                                    Es necesario indicar una tarjeta de pago para continuar
                                </div>
                            </div>
                            <div class="row justify-content-center mb-5">
                                <div class="col-lg-4 col-md-4 col-sm-8">
                                    <div class="form-floating mb-3 required">
                                        <select class="form-control" id="tarjetas">
                                            <option value="-1">Seleccione una opción</option>
                                            <option th:each="i:${tarjetas}"
                                                    th:text="'**** **** **** ' + ${#strings.substring(i.numero, 15, 19)}" th:value="${i.id}"></option>
                                        </select>
                                        <label for="tarjetas">Tarjetas</label>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4">
                                    <button class="mt-1 btn btn-primary text-center btn-open-modal-tarjetas"
                                            type="button">
                                        <em class="fa fa-plus"></em>
                                        <span> Nueva tarjeta</span>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-5 row justify-content-center">
                                <div class="col-lg-3 col-md-3 col-sm-6 justify-content-start">
                                    <a class="btn btn-secondary avanzar-formulario" data-direction="#direccion-tab"><em class="fa fa-arrow-left"></em> <span>Atrás</span></a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
                                    <a class="btn btn-secondary avanzar-formulario" data-direction="#confirmacion-tab" data-prev-action="validate" data-not-null="idTarjeta"><span>Siguiente </span><em class="fa fa-arrow-right"></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="confirmacion" role="tabpanel" aria-labelledby="confirmacion-tab">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <h4>Datos de entrega</h4>
                                </div>
                            </div>
                            <div id="resumen-direccion"></div>
                            <div class="mt-3 row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <h4>Datos de pago</h4>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div id="resumen-pago"></div>
                                </div>
                            </div>
                            <div class="mt-3 row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <h4>Libros</h4>
                                </div>
                            </div>
                            <div id="resumen-libros"></div>
                            <div class="mt-5 row justify-content-center">
                                <div class="col-lg-3 col-md-3 col-sm-6 justify-content-start">
                                    <a class="btn btn-secondary avanzar-formulario" data-direction="#pago-tab"><em
                                            class="fa fa-arrow-left"></em><span>Atrás</span></a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-end">
                                    <button class="btn btn-primary" type="submit"><em class="fa fa-check"></em><span> Confirmar compra </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="usuario/modals/modal-direccion"></div>
    <div th:replace="usuario/modals/modal-tarjeta"></div>
</div>
</body>
</html>
