<div xmlns:th="http://www.thymeleaf.org" aria-labelledby="mi-cesta-container-label" class="offcanvas offcanvas-end"
     data-bs-scroll="false" id="mi-cesta-container" tabindex="-1">
    <input id="showCestaSimplificado" th:value="${showCestaSimplificado}" type="hidden">
    <div class="offcanvas-header">
        <a class="simple-link" th:href="@{/usuario/carrito}"><h5 class="offcanvas-title" id="mi-cesta-container-label">
            Mi carrito</h5></a>
        <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="separator"></div>
    <div id="cesta-simplificada" style="overflow-y: scroll !important;">
        <div class="offcanvas-body" th:fragment="cesta-simplificada">
            <div th:if="${#lists.isEmpty(productos)}">
                No hay libros en tu carrito
            </div>
            <div th:unless="${#lists.isEmpty(productos)}">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-3 justify-content-center"
                     th:each="p:${productos}">
                    <div class="card m-0 border-0">
                        <div class="row g-0 pl-5 pr-5">
                            <div class="col-md-3 d-flex justify-content-center">
                                <img alt="Portada" class="card-img- shadow-lg mt-5 mb-5 bg-white rounded"
                                     style="height: 10vh; margin: auto"
                                     th:src="@{|/resources/portadas/__${p.libroLinkPortada}__|}">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${p.libroTitulo}"></h5>
                                    <!--
                                    <input type="number" min="1" max="5" th:value="${p.cantidad}" th:data-id="${p.libroId}" class="carrito-libro-cantidad"/>
                                    -->
                                    <span th:text="|x${p.cantidad}|"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body h-50 d-flex align-items-end justify-content-center justify-content-center">
                                    <h5 class="mb-0 text-primary text-center"
                                        th:text="|${#numbers.formatDecimal(p.libroPrecio*p.cantidad, 0, 'POINT', 2, 'COMMA')} €|">
                                        Precio</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas-footer" th:unless="${#lists.isEmpty(productos)}">
                <a class="btn btn-primary" th:href="@{/usuario/carrito}">Confirmar compra</a>
            </div>
        </div>
    </div>

</div>
</div>
