<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}">

<head>
    <title id="title">Unicorn Book - Inicio</title>
</head>

<body>
<div id="links"></div>
<div id="scripts"></div>
<div class="page-content" id="content">
    <div class="container">
        <div class="row text-center mb-5">
            <h3 th:if="${listadoLibros.totalPages!=0}">
                <span th:text="${listadoLibros.totalElements}"></span> títulos para <strong>"<span
                    th:text="${termino}"></span>"</strong>
            </h3>
            <h3 th:if="${listadoLibros.totalPages==0}">
                <span>¿No encuentras lo que estás buscando? Encárganoslo <a class="title-link"
                                                                            th:href="@{/contacto?tipo=encargo}">aquí</a></span>
            </h3>
            <hr class="legend-separator">
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 m-0 justify-content-end">
                <div class="dropdown d-flex justify-content-end">
                    <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            id="dropdownMenuButton1" type="button">
                        <em class="fa fa-sort"></em>Ordenación
                    </button>
                    <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                        <li><a class="dropdown-item"
                               th:href="@{/busquedas?termino=__${termino}__&orden=precio&direction=asc}">Precio
                            ascendente</a></li>
                        <li><a class="dropdown-item"
                               th:href="@{/busquedas?termino=__${termino}__&orden=precio&direction=desc}">Precio
                            descendente</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mt-3 justify-content-center"
                 th:each="libro, stat:${listadoLibros}">
                <div class="card m-0 border-0 card-link" th:onclick="|location.href='@{/libro/__${libro.id}__}'|">
                    <div class="row g-0 pl-5 pr-5">
                        <div class="col-md-3 d-flex justify-content-center">
                            <img alt="Portada" class="card-img- shadow-lg mt-5 mb-5 bg-white rounded"
                                 style="height: 25vh; margin: auto" th:src="${libro.linkPortada}">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${libro.titulo}"></h5>
                                <p th:text="${libro.autor}"></p>
                                <div class="mb-2">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p class="card-text"
                                   th:text="${#strings.length(libro.sipnosis)>200 ? #strings.substring(libro.sipnosis,0,200) + '...' : libro.sipnosis}"></p>
                                <p th:text="|${libro.editorial} / ${libro.isbn}|"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body h-50 d-flex align-items-end justify-content-center justify-content-center">
                                <h5 class="mb-0 text-primary text-center"
                                    th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|">
                                    Precio</h5>
                            </div>
                            <div class="card-body h-50 d-flex align-items-start justify-content-center justify-content-center">
                                <button class="btn btn-primary" th:if="${libro.stock != null && libro.stock > 0}">
                                    <em class="fa fa-shopping-basket"></em>
                                    <span>Añadir al carrito</span>
                                </button>
                                <a class="btn btn-secondary" th:href="@{/contacto?tipo=encargo&libro=__${libro.id}__}"
                                   th:if="${libro.stock == null || libro.stock == 0}">
                                    <span>Encargar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-1">
            </div>
        </div>
        <nav aria-label="Page navigation example" class="bg-transparent mt-5" th:if="${listadoLibros.totalPages!=0}">
            <ul class="pagination justify-content-start">
                <li class="page-item" th:classappend="${listadoLibros.first} ? 'disabled' : ''">
                    <a aria-disabled="true" class="page-link" tabindex="-1"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${listadoLibros.number-1}&orden=${orden}&direction=${direction}|}">
                        <
                    </a>
                </li>
                <li class="page-item" th:classappend="${listadoLibros.number==i}?'active':''"
                    th:each="i:${#numbers.sequence(0, listadoLibros.totalPages - 1)}">
                    <a class="page-link"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${i}&orden=${orden}&direction=${direction}|}"
                       th:text="${i+1}"></a>
                </li>
                <li class="page-item" th:classappend="${listadoLibros.last} ? 'disabled' : ''">
                    <a class="page-link"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${listadoLibros.number+1}&orden=${orden}&direction=${direction}|}">
                        >
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
