<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Inicio</title>
</head>

<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/rango.js}"></script>
    <script th:src="@{/resources/js/busquedas.js}"></script>
    <script th:src="@{/resources/js/carrito.js}"></script>

</div>
<div class="page-content" id="content">
    <div class="d-flex justify-content-center" th:if="${#strings.isEmpty(filtro.termino)}">
        <div class="container">
            <nav aria-label="breadcrumb"
                 style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;); background: transparent;">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a class="simple-link" th:href="@{/}">Inicio</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Búqueda avanzada</li>
                </ol>
            </nav>
        </div>
    </div>
    <form id="advanced-search" method="get" th:action="@{/busquedas}" th:object="${filtro}">
        <div class="container" th:if="${!#strings.isEmpty(filtro.termino)}">
            <div class="row text-center mb-5">
                <h6>Los resultados de tu búsqueda de:</h6>
                <h3><strong>"<span th:text="${filtro.termino}"></span>"</strong>
                </h3>
                <hr class="legend-separator">
            </div>
        </div>
        <div class="row container-advanced-search d-flex justify-content-center pt-3 pb-3">
            <div class="col-lg-8 col-md-10 col-sm-12 m-0">
                <input name="termino" th:disabled="${filtro.termino == '' || filtro.termino == null}"
                       th:value="${filtro.termino}"
                       type="hidden"/>
                <div class="dropdown d-flex justify-content-start">
                    <div class="col-lg-2 col-md-2 col-sm-12 mr-3 dropdown-advanced-search">
                        <button aria-expanded="false" class="btn dropdown-toggle dropdown-toggle-advanced-search w-90"
                                data-bs-toggle="dropdown"
                                id="dropdownTematicas"
                                th:classappend="${!#lists.isEmpty(filtro.tematicas)} ? 'items-selected'" type="button">
                            Temáticas
                        </button>
                        <input class="form-value" disabled name="tematicas" type="hidden"/>
                        <div aria-labelledby="dropdownTematicas" class="dropdown-menu-advanced-search dropdown-menu p-0"
                             style="width: 10vw">
                            <div class="dropdown-item-text border-bottom-1 bg-light pl-1 pt-3">
                                <div class="row">
                                    <div class="col-8">
                                        <p style="font-size: 1em"><span class="countSelections"
                                                                        th:text="${#lists.size(filtro.tematicas)}">0</span>
                                            seleccionados
                                        </p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        <button class="btn btn-outline-dark seleccion-global" type="button">TODO
                                        </button>
                                    </div>
                                </div>
                                <p class="nameSelections" style="font-size: 0.75em">
                                </p>
                            </div>
                            <div class="dropdown-divider m-0"></div>
                            <div class="dropdown-item mb-2"
                                 th:classappend="${#lists.contains(filtro.tematicas, tematica.id)} ? 'active'"
                                 th:each="tematica:${listTematicas}">
                                <input class="d-none simulate-value"
                                       th:checked="${#lists.contains(filtro.tematicas, tematica.id)}"
                                       th:value="${tematica.id}" type="checkbox"/>
                                <!--<span class="name" th:text="${tematica.nombre}"></span><span
                                    th:text="| (${tematica.ocurrencias})|"></span>-->
                                <em class="float-end mt-1 fa fa-times d-none"></em>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 mr-3 dropdown-advanced-search">
                        <button aria-expanded="false" class="btn dropdown-toggle dropdown-toggle-advanced-search w-90"
                                data-bs-toggle="dropdown"
                                id="dropdownAutores"
                                th:classappend="${!#lists.isEmpty(filtro.autores)} ? 'items-selected'" type="button">
                            Autores
                        </button>
                        <input class="form-value" disabled name="autores" type="hidden"/>
                        <div aria-labelledby="dropdownAutores" class="dropdown-menu-advanced-search dropdown-menu p-0"
                             style="width: 10vw">
                            <div class="dropdown-item-text border-bottom-1 bg-light pl-1 pt-3">
                                <div class="row">
                                    <div class="col-8">
                                        <p style="font-size: 1em"><span class="countSelections"
                                                                        th:text="${#lists.size(filtro.autores)}">0</span>
                                            seleccionados
                                        </p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        <button class="btn btn-outline-dark seleccion-global" type="button">TODO
                                        </button>
                                    </div>
                                </div>
                                <p class="nameSelections" style="font-size: 0.75em"></p>
                            </div>
                            <div class="dropdown-divider m-0"></div>
                            <div class="dropdown-item  mb-2"
                                 th:classappend="${#lists.contains(filtro.autores, autor.id)} ? 'active'"
                                 th:each="autor:${listAutores}">
                                <input class="d-none simulate-value"
                                       th:checked="${#lists.contains(filtro.autores, autor.id)}" th:value="${autor.id}"
                                       type="checkbox"/>
                                <!--<span class="name" th:text="${autor.nombre}"></span><span
                                    th:text="| (${autor.ocurrencias})|"></span>-->
                                <em class="float-end mt-1 fa fa-times d-none"></em>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 mr-3 dropdown-advanced-search">
                        <button aria-expanded="false" class="btn dropdown-toggle dropdown-toggle-advanced-search w-90"
                                data-bs-toggle="dropdown"
                                id="dropdownColecciones"
                                th:classappend="${!#lists.isEmpty(filtro.colecciones)} ? 'items-selected'"
                                type="button">
                            Colecciones
                        </button>
                        <input class="form-value" disabled name="colecciones" type="hidden"/>
                        <div aria-labelledby="dropdownColecciones"
                             class="dropdown-menu-advanced-search dropdown-menu p-0" style="width: 10vw">
                            <div class="dropdown-item-text border-bottom-1 bg-light pl-1 pt-3">
                                <div class="row">
                                    <div class="col-8">
                                        <p style="font-size: 1em"><span class="countSelections"
                                                                        th:text="${#lists.size(filtro.colecciones)}">0</span>
                                            seleccionados
                                        </p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        <button class="btn btn-outline-dark seleccion-global" type="button">TODO
                                        </button>
                                    </div>
                                </div>
                                <p class="nameSelections" style="font-size: 0.75em"></p>
                            </div>
                            <div class="dropdown-divider m-0"></div>
                            <div class="dropdown-item mb-2"
                                 th:classappend="${#lists.contains(filtro.colecciones, coleccion.id)} ? 'active'"
                                 th:each="coleccion:${listColecciones}">
                                <input class="d-none simulate-value"
                                       th:checked="${#lists.contains(filtro.colecciones, coleccion.id)}"
                                       th:value="${coleccion.id}"
                                       type="checkbox"/>
                                <!--<span class="name" th:text="${coleccion.nombre}"></span><span
                                    th:text="| (${coleccion.ocurrencias})|"></span>-->
                                <em class="float-end mt-1 fa fa-times d-none"></em>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 mr-3 dropdown-advanced-search">
                        <button aria-expanded="false" class="btn dropdown-toggle dropdown-toggle-advanced-search w-90"
                                data-bs-toggle="dropdown"
                                id="dropdownEditoriales"
                                th:classappend="${!#lists.isEmpty(filtro.editoriales)} ? 'items-selected'"
                                type="button">
                            Editoriales
                        </button>
                        <input class="form-value" disabled name="editoriales" type="hidden"/>
                        <div aria-labelledby="dropdownEditoriales"
                             class="dropdown-menu-advanced-search dropdown-menu p-0" style="width: 10vw">
                            <div class="dropdown-item-text border-bottom-1 bg-light pl-1 pt-3">
                                <div class="row">
                                    <div class="col-8">
                                        <p style="font-size: 1em"><span class="countSelections"
                                                                        th:text="${#lists.size(filtro.editoriales)}">0</span>
                                            seleccionados
                                        </p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        <button class="btn btn-outline-dark seleccion-global" type="button">TODO
                                        </button>
                                    </div>
                                </div>
                                <p class="nameSelections" style="font-size: 0.75em"></p>
                            </div>
                            <div class="dropdown-divider m-0"></div>
                            <div class="dropdown-item mb-2"
                                 th:classappend="${#lists.contains(filtro.editoriales, editorial.id)} ? 'active'"
                                 th:each="editorial:${listEditoriales}">
                                <input class="d-none simulate-value"
                                       th:checked="${#lists.contains(filtro.editoriales, editorial.id)}"
                                       th:value="${editorial.id}"
                                       type="checkbox"/>
                                <!--<span class="name" th:text="${editorial.nombre}"></span><span
                                    th:text="| (${editorial.ocurrencias})|"></span>-->
                                <em class="float-end mt-1 fa fa-times d-none"></em>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 mr-3 dropdown-advanced-search">
                        <button aria-expanded="false" class="btn dropdown-toggle dropdown-toggle-advanced-search w-90"
                                data-bs-toggle="dropdown"
                                id="dropdownPrecio"
                                th:classappend="${(filtro.precio!=null&&filtro.precio!='') && filtro.precio!=precioMinimo+'-'+precioMaximo} ? 'items-selected'"
                                type="button">
                            Precio
                        </button>
                        <input name="precio"
                               th:disabled="${(filtro.precio==undefined||filtro.precio=='')||filtro.precio==precioMinimo+'-'+precioMaximo}"
                               th:value="${filtro.precio}" type="hidden"/>
                        <input id="precioMinimo" th:value="${precioMinimo}" type="hidden"/>
                        <input id="precioMaximo" th:value="${precioMaximo}" type="hidden"/>
                        <div aria-labelledby="dropdownPrecio"
                             class="dropdown-menu-advanced-search dropdown-menu p-0" style="width: 10vw">
                            <div class="slider-range w-100 p-5">
                                <p class="w-100 mb-3 text-center" id="amount" style="font-weight:bold;"></p>
                                <div class="slider-range" id="range-advanced-search"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="dropdown d-flex justify-content-end" id="clasificacion">
                            <button aria-expanded="false" class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    id="dropdownMenuButton1" type="button">
                                <em class="fa fa-sort"></em> <span id="text-clasificacion">Clasificación</span>
                            </button>

                            <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                                <input name="orden" th:disabled="${filtro.orden == null || filtro.orden == ''}"
                                       th:value="${filtro.orden}" type="hidden"/>
                                <input name="direccion"
                                       th:disabled="${filtro.direccion == null || filtro.direccion == ''}"
                                       th:value="${filtro.direccion}" type="hidden"/>
                                <li>
                                    <a class="dropdown-item clasificacion-link" data-direccion="asc"
                                       data-orden="fechaDisponible"
                                       th:classappend="${filtro.orden=='fechaDisponible'}?'active'">Novedades</a>
                                </li>
                                <li>
                                    <a class="dropdown-item clasificacion-link" data-direccion="asc" data-orden="precio"
                                       th:classappend="${filtro.orden=='precio'&&filtro.direccion=='asc'}?'active'">Precio
                                        ascendente</a>
                                </li>
                                <li>
                                    <a class="dropdown-item clasificacion-link" data-direccion="desc"
                                       data-orden="precio"
                                       th:classappend="${filtro.orden=='precio'&&filtro.direccion=='desc'}?'active'">Precio
                                        descendente</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="resultados">
                <div th:fragment="resultados">
                    <div class="row text-center mt-5 mb-5">
                        <h6 th:if="${listadoLibros.totalPages!=0}">
                            <span th:text="${listadoLibros.totalElements}"></span> <span> títulos encontrados</span>
                        </h6>
                        <h3 th:if="${listadoLibros.totalPages==0}">
                    <span>¿No encuentras lo que estás buscando? Encárganoslo <a class="title-link"
                                                                                th:href="@{/contacto?tipo=encargo}">aquí</a></span>
                        </h3>
                    </div>
                    <div class="row" th:if="${listadoLibros.totalPages!=0}">
                        <div class="col-lg-12 col-md-12 col-sm-12 mt-3 justify-content-center"
                             th:each="libro, stat:${listadoLibros}">
                            <div class="card m-0 border-0 card-link"
                                 th:onclick="|location.href='@{/libro/__${libro.id}__}'|">
                                <div class="row g-0 pl-5 pr-5">
                                    <div class="col-md-3 d-flex justify-content-center">
                                        <img alt="Portada" class="card-img- shadow-lg mt-5 mb-5 bg-white rounded"
                                             style="height: 25vh; margin: auto"
                                             th:src="@{|/resources/portadas/__${libro.linkPortada}__|}">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${libro.titulo}"></h5>
                                            <p th:text="${libro.autor}"></p>
                                            <div class="mb-2"
                                                 th:with="estrellas=${#aggregates.sum(listComentarios.?[idLibro==__${libro.id}__].![estrellas])},
                                    mediaEstrellas=${estrellas!=null?estrellas/listComentarios.?[idLibro==__${libro.id}__].size():0}">
                                                <i class="fa-star" th:classappend="${i<=mediaEstrellas}?'fa' : 'far'"
                                                   th:each="i: ${#numbers.sequence(1, 5)}"></i>
                                                <span th:text="|(${listComentarios.?[idLibro==__${libro.id}__].size()})|"></span>
                                            </div>
                                            <p class="card-text"
                                               th:text="${#strings.length(libro.sipnosis)>200 ? #strings.substring(libro.sipnosis,0,200) + '...' : libro.sipnosis}"></p>
                                            <p th:text="|Editorial: ${libro.editorial}|"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card-body h-50 d-flex align-items-end justify-content-center justify-content-center">
                                            <h5 class="mb-0 text-primary text-center"
                                                th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|">
                                                Precio</h5>
                                        </div>
                                        <div class="card-body h-50 d-flex align-items-start justify-content-center justify-content-center"
                                            th:with="conStock=${libro.stock != null && libro.stock > 0}">
                                            <div class="p-1">
                                                <a class="btn btn-primary mr-5" th:disabled="${!conStock}"
                                                   th:href="@{usuario/carrito/update/__${libro.id}__/1}">
                                                    <em class="fa fa-shopping-basket"></em>
                                                    <span th:if="${conStock}">Añadir al carrito</span>
                                                    <span th:unless="${conStock}">Sin stock</span>
                                                </a>
                                            </div>
                                            <div class="p-1" th:unless="${conStock}">
                                                <a class="btn btn-secondary"
                                                   th:href="@{/contacto?tipo=encargo&libro=__${libro.id}__}">
                                                    <span>Encargar</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-1">
                        </div>
                    </div>
                    <nav aria-label="Page navigation example" class="bg-transparent mt-5"
                         th:if="${listadoLibros.totalPages!=0}">
                        <ul class="pagination justify-content-start">
                            <li class="page-item" th:classappend="${listadoLibros.first} ? 'disabled' : ''">
                                <input disabled name="page" th:value="${listadoLibros.number-1}" type="hidden"/>
                                <a aria-disabled="true" class="page-link" tabindex="-1"><</a>
                            </li>
                            <li class="page-item" th:classappend="${listadoLibros.number==i}?'active':''"
                                th:each="i:${#numbers.sequence(0, listadoLibros.totalPages - 1)}">
                                <input disabled name="page" th:value="${i}" type="hidden"/>
                                <a class="page-link" th:text="${i+1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${listadoLibros.last} ? 'disabled' : ''">
                                <input disabled name="page" th:value="${listadoLibros.number+1}" type="hidden"/>
                                <a class="page-link">></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
</div>
</form>
</body>
</html>
