<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Título</title>
</head>
<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/carrito.js}"></script>

</div>

<div class="page-content" id="content">
    <div class="container-full">
        <div class="d-flex justify-content-center">
            <div class="container">
                <nav aria-label="breadcrumb"
                     style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;); background: transparent;">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="simple-link" th:href="@{/}">Inicio</a></li>
                        <li aria-current="page" class="breadcrumb-item active"><a class="simple-link"
                                                                                  th:href="@{/libro/__${libro.id}__}"
                                                                                  th:text="${libro.titulo}"></a></li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <img alt="Portada" class="card-img- shadow-lg mt-0 mb-2 bg-dark rounded"
                             style="height: 35vh; margin: auto" th:src="${libro.linkPortada}">
                        <div class="row text-center">
                            <div th:each="tematica, iter:${libro.tematicas}">
                                <a class="simple-link" th:href="@{/busquedas?tematicas=__${tematica.id}__}">
                                    <h6 th:text="${tematica.nombre}"></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col">
                                <h1 th:text="${libro.titulo}"></h1>
                                <h4><strong th:text="${libro.subtitulo}"></strong></h4>
                                <h6>
                                    <strong>
                                        <a class="link-primary" th:href="@{/autor/__${libro.autor.id}__}">
                                            <span th:text="${libro.autor.nombre}"></span> <em class="fa fa-link"></em>
                                        </a>
                                    </strong>
                                </h6>
                                <div class="mb-2"
                                     th:with="estrellas=${#aggregates.sum(listComentarios.?[idLibro==__${libro.id}__].![estrellas])},
                                    mediaEstrellas=${estrellas!=null?estrellas/listComentarios.?[idLibro==__${libro.id}__].size():0}">
                                    <i class="fa-star" th:classappend="${i<=mediaEstrellas}?'fa' : 'far'"
                                       th:each="i: ${#numbers.sequence(1, 5)}"></i>
                                    <span th:text="|(${listComentarios.?[idLibro==__${libro.id}__].size()})|"></span>
                                </div>
                                <h4 class="pt-3">Sinopsis:</h4>
                                <p th:text="${libro.sinopsis}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Más información:</h4>
                            <div class="col">
                                <ul>
                                    <li><strong>ISBN: </strong><span th:text="${libro.isbn}"></span>
                                    </li>
                                    <li><strong>Colección: </strong><span th:text="${libro.coleccion.nombre}"></span>
                                    </li>
                                    <li><strong>Editorial: </strong><span th:text="${libro.editorial.nombre}"></span>
                                    </li>

                                    <li><strong>Fecha disponibilidad: </strong><span
                                            th:text="${#dates.format(libro.fechaDisponible, 'dd-MM-yyyy')}"></span></li>
                                    <li><strong>Fecha publicación: </strong><span
                                            th:text="${#dates.format(libro.fechaPublicacion, 'dd-MM-yyyy')}"></span>
                                    </li>
                                    <li><strong>Fecha edición: </strong><span
                                            th:text="${#dates.format(libro.fechaEdicion, 'dd-MM-yyyy')}"></span></li>

                                    <li><strong>Formato: </strong><span th:text="${libro.formato}"></span></li>
                                    <li><strong>Nº páginas: </strong><span th:text="${libro.paginas}"></span></li>
                                    <li><strong>Idioma: </strong><span th:text="${libro.idioma}"></span></li>
                                    <li><strong>Notas: </strong><span th:text="${libro.notas}"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Comentarios:</h4>
                            <div class="row mt-2" th:each="comentario:${listComentarios.?[idLibro==__${libro.id}__]}">
                                <div class="col-md-12">
                                    <div class="card p-3">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="user d-flex flex-row align-items-center">
                                                <img class="user-img rounded-circle mr-5" th:src="@{/resources/images/user.jpg}"
                                                    width="30">
                                                <span>
                                                    <small class="font-weight-bold" th:text="${comentario.nombreUsuario}"></small>
                                                    <i class="fa-star" th:classappend="${i<=comentario.estrellas}?'fa' : 'far'"
                                                       th:each="i: ${#numbers.sequence(1, 5)}"></i>

                                                </span>
                                            </div>
                                            <small th:text="${#dates.format(comentario.fecha, 'dd-MM-yyyy')}"></small>
                                        </div>
                                        <div class="d-flex mt-2 align-items-center">
                                            <div class="px-4 col-12">
                                                <small class="font-weight-bold" th:text="${comentario.comentario}"></small>
                                                <form th:if="${comentario.editable}" th:action="@{/comentario/__${comentario.id}__/editar}" method="post" style="display: none">
                                                    <textarea class="form-control" th:text="${comentario.comentario}" name="comentario"></textarea>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2 justify-content-end align-items-end">
                                            <div th:if="${comentario.editable}">
                                                <a th:href="@{/usuario/comentario/__${comentario.id}__/editar}" class="simple-link">Editar</a>
                                                <a th:href="@{/usuario/comentario/__${comentario.id}__/eliminar}" class="simple-link">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small>Todos los comentarios son moderados y publicados en un plazo de 2 días laborables. Serás notificado una vez el proceso haya finalizado.</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body h-50 d-flex align-items-end justify-content-center justify-content-center">
                            <h2 class="mb-0 text-center"
                                th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|">
                                Precio</h2>
                        </div>
                        <div class="card-body h-50 " th:with="conStock=${libro.stock != null && libro.stock > 0}">
                            <div class="row">
                                <div class="col-4 text-center" th:unless="${conStock}">
                                    <a class="btn btn-secondary"
                                       th:href="@{/contacto?tipo=encargo&libro=__${libro.id}__}">
                                        <span>Encargar</span>
                                    </a>
                                </div>
                                <div class="col-4 text-center" th:if="${conStock}">
                                    <select aria-label="Floating label select example" class="form-select"
                                            id="floatingSelect" name="cantidad">
                                        <option th:data-id-libro="${libro.id}"
                                                th:each="i, stat: ${#numbers.sequence(1, libro.stock)}"
                                                th:selected="${stat.index==0}" th:text="|x${i}|"
                                                th:value="${i}"></option>
                                    </select>
                                </div>
                                <div class="col-8 text-center">
                                    <button class="btn btn-primary mr-5 actualizar-carrito" th:disabled="${!conStock}">
                                        <em class="fa fa-shopping-basket"></em>
                                        <span th:if="${conStock}">Añadir al carrito</span>
                                        <span th:unless="${conStock}">Sin stock</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
