<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}">

<head>
    <title id="title">Unicorn Book - Inicio</title>
</head>

<body>
<div id="links"></div>
<div id="scripts"></div>
<div class="page-content" id="content">
    <div class="container">
        <div class="row text-center mb-5">
            <h3>
                <span th:text="${listadoLibros.totalElements}"></span> títulos para "<span th:text="${termino}"></span>"
            </h3>
        </div>
        <div class="row">
            <div class="col col-lg-3 col-md-3 col-sm-1 mb-3" th:each="libro, stat:${listadoLibros}">
                <div class="card border-0 h-100">
                    <img alt="Portada" class="card-img-top shadow-lg mb-5 bg-white rounded"
                         style="width: 25vh;margin: auto" th:src="${libro.linkPortada}">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a th:href="@{/libro/__${libro.id}__}" th:text="${libro.titulo}"></a>
                        </h5>
                        <p class="card-text text-center" th:text="${libro.subtitulo}">Autor</p>

                        <div class="mb-2 text-center">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h5 class="mb-0 text-primary text-center"
                            th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|">Precio</h5>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" style="background: transparent !important;">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:classappend="${listadoLibros.first} ? 'disabled' : ''">
                    <a aria-disabled="true" class="page-link" tabindex="-1"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${listadoLibros.number-1}|}">Anterior</a>
                </li>
                <li class="page-item" th:classappend="${listadoLibros.number==i}?'active':''"
                    th:each="i:${#numbers.sequence(0, listadoLibros.totalPages - 1)}">
                    <a class="page-link"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${i}|}" th:text="${i+1}"></a>
                </li>
                <li class="page-item" th:classappend="${listadoLibros.last} ? 'disabled' : ''">
                    <a class="page-link"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${listadoLibros.number+1}|}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
