<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}">

<head>
    <title id="title">Unicorn Book - Inicio</title>
</head>

<body>
<div id="links"></div>
<div id="scripts"></div>
<div class="page-content" id="content">
    <div class="container">
        <div class="row text-center mb-5">
            <h3>
                <span th:text="${listadoLibros.totalElements}"></span> títulos para <strong>"<span
                    th:text="${termino}"></span>"</strong>
            </h3>
            <hr class="legend-separator">
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 m-0 justify-content-center"
                 th:each="libro, stat:${listadoLibros}">
                <div class="card m-0 border-0 card-link" th:onclick="|location.href='@{/libro/__${libro.id}__}'|">
                    <div class="row g-0 pl-5 pr-5">
                        <div class="col-md-3 justify-content-center">
                            <img alt="Portada" class="card-img- shadow-lg mt-5 mb-5 bg-white rounded"
                                 style="height: 25vh; margin: auto" th:src="${libro.linkPortada}">
                            <div class="mb-2 text-center">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${libro.titulo}"></h5>
                                <p th:text="${libro.autor}"></p>
                                <p class="card-text"
                                   th:text="${#strings.length(libro.sipnosis)>200 ? #strings.substring(libro.sipnosis,0,200) + '...' : libro.sipnosis}"></p>
                                <p th:text="|${libro.editorial} / ${libro.isbn}|"></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <h5 class="mb-0 text-primary text-center"
                                    th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|">
                                    Precio</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-1">
            </div>
        </div>
        <nav aria-label="Page navigation example" class="bg-transparent mt-5">
            <ul class="pagination justify-content-start">
                <li class="page-item" th:classappend="${listadoLibros.first} ? 'disabled' : ''">
                    <a aria-disabled="true" class="page-link" tabindex="-1"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${listadoLibros.number-1}|}">
                        <
                    </a>
                </li>
                <li class="page-item" th:classappend="${listadoLibros.number==i}?'active':''"
                    th:each="i:${#numbers.sequence(0, listadoLibros.totalPages - 1)}">
                    <a class="page-link"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${i}|}" th:text="${i+1}"></a>
                </li>
                <li class="page-item" th:classappend="${listadoLibros.last} ? 'disabled' : ''">
                    <a class="page-link"
                       th:href="@{|/busquedas?termino=${termino!=null?termino:''}&page=${listadoLibros.number+1}|}">
                        >
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
