<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Inicio</title>
</head>

<body>
<div id="links">
    <link rel="stylesheet" th:href="@{/resources/css/product.css}">
</div>
<div id="scripts">

</div>
<style>
    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */
    {
        filter: invert(100%);
    }

</style>
<div class="page-content" id="content">
    <div class="container">
        <div class="row text-center mb-5">
            <h3>Novedades</h3>
        </div>
        <!-- NOVEDADES -->
        <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleCaptions">
            <div class="carousel-indicators">
                <div class="carousel-indicators">
                    <button data-bs-target="#carouselExampleCaptions" th:aria-current="${stat.index==0}"
                            th:class="${stat.index==0}?'active':''"
                            th:data-bs-slide-to="${stat.index}"
                            th:each="libro, stat:${listNovedades}"
                            type="button"></button>
                </div>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item" th:classappend="${stat.index==0}?'active':''"
                     th:each="libro, stat:${listNovedades}">
                    <img alt="..." class="d-block" style="height: 50vh;
   margin: auto" th:src="${libro.linkPortada}">
                    <div class="carousel-caption d-none d-md-block" style="color: white; font-size: 4em">
                        <h5 th:text="${libro.titulo}"></h5>
                        <p th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|"></p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon" style="color: black"></span>
                <span class="visually-hidden" style="color: black">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions"
                    style="color: black" type="button">
                <span aria-hidden="true" class="carousel-control-next-icon" style="color: black"></span>
                <span class="visually-hidden" style="color: black">Next</span>
            </button>
        </div>

        <div class="row text-center mt-xl-5 mb-5">
            <h3>Los 20 libros más vendidos</h3>
        </div>
        <div class="row">
            <div class="col col-lg-3 col-md-3 col-sm-1 mb-3" th:each="libro, stat:${listMuestreo}">
                <div class="card border-0 h-100">
                    <img alt="Portada" class="card-img-top shadow-lg mb-5 bg-white rounded"
                         style="width: 25vh;margin: auto" th:src="${libro.linkPortada}">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a th:href="@{/libro/__${libro.id}__}" th:text="${libro.titulo}"></a>
                        </h5>
                        <p class="card-text text-center" th:text="${libro.subtitulo}">Autor</p>

                        <div class="mb-2 text-center">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h5 class="mb-0 text-primary text-center"
                            th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|">Precio</h5>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-6 col-lg-3 mb-2-6">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/FFB6C1/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Hand Gloves</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$11.79</h5>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2-6">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/20B2AA/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Products Bag</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$79.00</h5>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2-6">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/FFB6C1/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Cleaning Equipment</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$19.22</h5>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2-6">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/87CEFA/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Washing Liquids</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$28.25</h5>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2-6 mb-lg-0">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/7B68EE/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Vacuum Cleaner</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$129.79</h5>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2-6 mb-lg-0">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/BA55D3/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Rubber Gloves</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$44.42</h5>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-2-6 mb-sm-0">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/48D1CC/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Rubber Gloves</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$24.69</h5>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-wrapper mb-4">
                    <div class="card-img"><img alt="..."
                                               src="https://via.placeholder.com/240x240/000080/000000"></div>
                    <div class="card-body">
                        <div>
                            <a href="#"><i
                                    class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h4 class="h5 mb-2"><a class="text-secondary" href="#">Cleaning Supplies</a></h4>
                    <div class="product-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star mr-0"></i>
                    </div>
                    <h5 class="mb-0 text-primary">$79.79</h5>
                </div>
            </div>
        </div>
    </div>-->
        </div>
    </div>
</div>
</body>
</html>
