<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Inicio</title>
</head>

<body>
<div id="links">
    <link rel="stylesheet" th:href="@{/resources/css/product.css}">
</div>
<div id="scripts">

</div>
<style>
    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */
    {
        filter: invert(100%);
    }

</style>
<div class="page-content" id="content">
    <div class="container">
        <div class="row text-center mb-0">
            <h3>Novedades</h3>
            <hr class="legend-separator">
        </div>
        <!-- NOVEDADES -->
        <div class="carousel card-link slide carousel-dark p-1" data-bs-ride="carousel" id="carouselExampleCaptions">
            <div class="carousel-indicators">
                <div class="carousel-indicators">
                    <button data-bs-target="#carouselExampleCaptions" th:aria-current="${stat.index==0}"
                            th:class="${stat.index==0}?'active':''"
                            th:data-bs-slide-to="${stat.index}"
                            th:each="libro, stat:${listNovedades}"
                            type="button"></button>
                </div>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item card-link" th:classappend="${stat.index==0}?'active':''"
                     th:each="libro, stat:${listNovedades}" th:onclick="|location.href='@{/libro/__${libro.id}__}'|">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <img alt="..." class="row d-block" style="height: 35vh;
   margin: auto" th:src="${libro.linkPortada}">
                        </div>
                        <div class="col-lg-9 col-md-9 col-md-12">
                            <h5 th:text="${libro.titulo}"></h5>
                            <p th:text="${#strings.abbreviate(libro.sinopsis, 150)}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon" style="color: black"></span>
                <span class="visually-hidden" style="color: black">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions"
                    style="color: black" type="button">
                <span aria-hidden="true" class="carousel-control-next-icon" style="color: black"></span>
                <span class="visually-hidden" style="color: black">Next</span>
            </button>
            -->
        </div>

        <div class="row text-center mt-xl-5 mb-0">
            <h3>Los 10 libros más vendidos</h3>
            <hr class="legend-separator">
        </div>
        <div class="row">
            <div class="col col-lg-3 col-md-3 col-sm-6 mb-3 justify-content-center"
                 th:each="libro, stat:${listMuestreo}">
                <div class="card text-center border-0 h-100 card-link"
                     th:onclick="|location.href='@{/libro/__${libro.id}__}'|">
                    <img alt="Portada" class="card-img- shadow-lg mt-5 mb-5 bg-white rounded"
                         style="height: 25vh; margin: auto" th:src="${libro.linkPortada}">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${libro.titulo}"></h5>
                        <p class="card-text text-center" th:text="${libro.autor.nombre}">Autor</p>
                        <div class="mb-2 text-center"
                             th:with="estrellas=${#aggregates.sum(listComentarios.?[idLibro==__${libro.id}__].![estrellas])},
                                    mediaEstrellas=${estrellas!=null?estrellas/listComentarios.?[idLibro==__${libro.id}__].size():0}">
                            <i class="fa-star" th:classappend="${i<=mediaEstrellas}?'fa' : 'far'"
                               th:each="i: ${#numbers.sequence(1, 5)}"></i>
                            <span th:text="|(${estrellas==null? 0 : mediaEstrellas})|"></span>
                        </div>
                        <h5 class="mb-0 text-primary text-center"
                            th:text="|${#numbers.formatDecimal(libro.precio, 0, 'POINT', 2, 'COMMA')} €|">Precio</h5>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-6 mb-3 d-flex align-items-center justify-content-center">
                <div class="card text-center border-0 h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <a class="btn btn-primary" th:href="@{/busquedas}" type="button">Ver catálogo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
