<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, _, ~{::#scripts})}">

<head>
    <title id="title">Unicorn Book - Inicio</title>
</head>

<body>
<div id="scripts">

</div>
<div id="content" class="page-content">
    <!--<div class="container-full gray-bg">
        <div class="row page-header">
            <div class="form-group col-xs-12">
                <h1 th:text="#{inicio.title}">Inicio</h1>
                <ol class="breadcrumb">
                    <li><a href="#" data-toggle="tooltip" th:title="#{global.inicio.title}"><em class="glyphicon glyphicon-home"></em></a></li>
                    <li class="active" th:text="#{inicio.title}">Inicio</li>
                </ol>
            </div>
        </div>
    </div>-->

    <div class="container-full">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-2-6">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/FFB6C1/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Hand Gloves</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$11.79</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-2-6">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/20B2AA/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Products Bag</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$79.00</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-2-6">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/FFB6C1/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Cleaning Equipment</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$19.22</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-2-6">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/87CEFA/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Washing Liquids</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$28.25</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-2-6 mb-lg-0">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/7B68EE/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Vacuum Cleaner</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$129.79</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-2-6 mb-lg-0">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/BA55D3/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Rubber Gloves</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$44.42</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-2-6 mb-sm-0">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/48D1CC/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Rubber Gloves</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$24.69</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-wrapper mb-4">
                            <div class="card-img"><img src="https://via.placeholder.com/240x240/000080/000000" alt="..."></div>
                            <div class="card-body">
                                <div>
                                    <a href="#"><i class="bg-white p-3 rounded-circle ti-shopping-cart font-weight-600"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h4 class="h5 mb-2"><a href="#" class="text-secondary">Cleaning Supplies</a></h4>
                            <div class="product-rating mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star mr-0"></i>
                            </div>
                            <h5 class="mb-0 text-primary">$79.79</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
