<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, _, _)}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Iniciar sesión</title>
</head>

<body>
<div class="page-content" id="content">
    <div class="container">
        <div class="justify-content-center">
            <form method="post" th:action="@{/login}">
                <fieldset>
                    <legend>Iniciar sesión</legend>
                    <div class="alert alert-danger" role="alert" th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div class="alert alert-success" role="alert" th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-floating mb-3 required">
                                <input class="form-control" id="username" name="username"
                                       placeholder="Nombre de usuario"
                                       type="text"/>
                                <label for="username">Usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="form-floating required">
                                <input class="form-control" id="password" name="password" placeholder="Constraseña"
                                       type="password"/>
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a th:href="@{/recuperar-cuenta}">¿Has olvidado la contraseña?</a>
                    </div>
                    <div class="text-center">
                        <a th:href="@{/registro}">Regístrate</a>
                    </div>
                </fieldset>

                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <button class="btn btn-primary w-100" type="submit">Inciar sesión</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
