<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, _, _)}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Registrarse</title>
</head>

<body>
    <div class="page-content" id="content">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <div class="container col-5">
            <form method="post" th:action="@{/usuario/registro}" th:object="${registroForm}">
                <fieldset>
                    <legend>Crear cuenta</legend>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="usuario" class="form-control" th:classappend="${#fields.hasErrors('usuario') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Nombre de usuario" th:field="*{usuario}" type="text" aria-label="usuario"/>
                                <label for="usuario">Usuario</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('usuario')}" th:text="${#fields.errors('usuario')[0]}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="contrasena" class="form-control" th:classappend="${#fields.hasErrors('contrasena') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Contraseña" th:field="*{contrasena}" type="password"  aria-label="contrasena"/>
                                <label for="contrasena">Contraseña</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('contrasena')}" th:text="${#fields.errors('contrasena')[0]}"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="repetirContrasena" class="form-control" th:classappend="${#fields.hasErrors('repetirContrasena') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Repetir contraseña" th:field="*{repetirContrasena}" type="password"  aria-label="repetirContrasena"/>
                                <label for="repetirContrasena">Repetir contraseña</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('repetirContrasena')}" th:text="${#fields.errors('repetirContrasena')[0]}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="nombre" class="form-control" th:classappend="${#fields.hasErrors('nombre') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Nombre" th:field="*{nombre}" type="text" aria-label="nombre"/>
                                <label for="nombre">Nombre</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:text="${#fields.errors('nombre')[0]}"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="apellido1" class="form-control" th:classappend="${#fields.hasErrors('apellido1') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Primer apellido" th:field="*{apellido1}" type="text" aria-label="apellido1"/>
                                <label for="apellido1">Primer apellido</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('apellido1')}" th:text="${#fields.errors('apellido1')[0]}"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="apellido2" class="form-control" th:classappend="${#fields.hasErrors('apellido2') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Segundo apellido" th:field="*{apellido2}" type="text" aria-label="apellido2"/>
                                <label for="apellido2">Segundo apellido</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('apellido2')}" th:text="${#fields.errors('apellido2')[0]}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="telefono1" class="form-control" th:classappend="${#fields.hasErrors('telefono1') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Teléfono" th:field="*{telefono1}" type="text" aria-label="telefono1"/>
                                <label for="telefono1">Teléfono</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('telefono1')}" th:text="${#fields.errors('telefono1')[0]}"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input id="telefono2" class="form-control" th:classappend="${#fields.hasErrors('telefono2') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Teléfono alternativo" th:field="*{telefono2}" type="text" aria-label="telefono2"/>
                                <label for="telefono2">Teléfono alternativo</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('telefono2')}" th:text="${#fields.errors('telefono2')[0]}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3 required">
                                <input id="correo" class="form-control" th:classappend="${#fields.hasErrors('correo') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Correo electrónico" th:field="*{correo}" type="text" aria-label="correo"/>
                                <label for="correo">Correo electrónico</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('correo')}" th:text="${#fields.errors('correo')[0]}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating input-append date datepicker" id="dp3" data-date="12-02-2012"
                                 data-date-format="dd-mm-yyyy">
                                <input class="form-control"  id="fechaNacimiento" size="16" type="text" value="12-02-2012">
                                <span class="add-on"><em class="fa fa-calendar"></em></span>
                                <label for="fechaNacimiento">Fecha nacimiento</label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col">
                            <div class="input-group mb-3 date datepicker">
                                <input id="fechaNacimiento" type="text" class="form-control" th:classappend="${#fields.hasErrors('fechaNacimiento') ? 'is-invalid' : (#fields.hasErrors('*') ? 'is-valid': '')}"
                                       placeholder="Fecha de nacimiento (dd-mm-aaaa)" th:field="*{fechaNacimiento}"
                                       aria-label="fecha-nacimiento" aria-describedby="fecha-nacimiento">
                                <span class="input-group-text" id="fecha-nacimiento">
                                    <em class="fa fa-calendar"></em>
                                </span>
                                <label for="fechaNacimiento">Fecha de nacimiento (dd-mm-aaaa)</label>
                                <span class="text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:text="${#fields.errors('fechaNacimiento')[0]}"></span>
                            </div>
                        </div>
                    </div>-->
                </fieldset>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary w-100" type="submit">Crear mi cuenta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
