<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Comentarios</title>
</head>
<body>
<div id="links"></div>
<div id="scripts"></div>

<div class="page-content" id="content">
    <div class="container">
        <div class="justify-content-center">
            <div class="text-center">
                <span>Contenido aquí</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>