<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Comentarios</title>
</head>
<body>
<div id="links"></div>
<div id="scripts"></div>

<div class="page-content" id="content">
    <div class="container">
        <div class="row text-center mb-0">
            <h3>Mis comentarios</h3>
            <hr class="legend-separator">
        </div>
        <div class="justify-content-center">
            <div class="table-responsive" id="pedidos">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">Libro</th>
                        <th class="text-center" scope="col">Comentario</th>
                        <th class="text-center" scope="col">Valoración</th>
                        <th class="text-center" scope="col">¿Anónimo?</th>
                        <th class="text-center" scope="col">Fecha</th>
                        <th class="text-center" scope="col">Estado</th>
                        <th class="text-center" scope="col">Acciones</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(comentarios)}">
                        <td class="text-center" colspan="8">Todavía no hay comentarios realizados</td>
                    </tr>
                    <th:block th:each="c:${comentarios}">
                        <tr>
                            <td class="text-center"><span th:text="${c.libroTitulo}"></span></td>
                            <td class="text-center"><span th:text="${c.textoComentario}"></span></td>
                            <td class="text-center">
                                <div class="mb-2">
                                    <i class="fa-star" th:classappend="${i<=c.estrellas}?'fa' : 'far'"
                                       th:each="i: ${#numbers.sequence(1, 5)}"></i>
                                </div>
                            </td>
                            <td class="text-center"><span th:text="${c.anonimo==true?'Sí':'No'}"></span></td>
                            <td class="text-center"><span
                                    th:text="${#dates.format(c.fechaComentario, 'dd-MM-yyyy')}"></span></td>
                            <td class="text-center"><span th:text="${c.estadoNombre}"></span></td>
                            <td class="text-center">
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
