<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Mis pedidos</title>
</head>
<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/pedido.js}"></script>

</div>

<div class="page-content" id="content">
    <div class="container">
        <div class="row text-center mb-0">
            <h3>Mis pedidos</h3>
            <hr class="legend-separator">
        </div>
        <div class="justify-content-center">
            <div class="table-responsive" id="pedidos">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col"></th>
                        <th class="text-center" scope="col">Nº pedido</th>
                        <th class="text-center" scope="col">Fecha compra</th>
                        <th class="text-center" scope="col">Direccion</th>
                        <th class="text-center" scope="col">Método pago</th>
                        <th class="text-center" scope="col">Estado</th>
                        <th class="text-center" scope="col">Fecha entrega</th>
                        <th class="text-center" scope="col">Acciones</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(pedidos)}">
                        <td class="text-center" colspan="8">Todavía no hay pedidos realizados</td>
                    </tr>
                    <th:block th:each="p:${pedidos}">
                        <tr>
                            <td class="text-center">
                                <a class="btn-detalle-pedido" href="javascript:void(0)"
                                   th:data-id="|detalle-pedido-${p.id}|">
                                    <em class="fa fa-angle-down"></em>
                                </a>
                            </td>
                            <td class="text-center"><span th:text="${p.id}"></span></td>
                            <td class="text-center"><span
                                    th:text="${#dates.format(p.fechaCompra, 'dd-MM-yyyy')}"></span>
                            </td>
                            <td class="text-center"><span th:text="${p.direccionTextoDireccion}"></span></td>
                            <td class="text-center"><span th:text="${p.metodoPago}"></span></td>
                            <td class="text-center"><span th:text="${p.estadoNombre}"></span></td>
                            <td class="text-center"><span
                                    th:text="${#dates.format(p.fechaEntrega, 'dd-MM-yyyy')}"></span>
                            </td>

                            <td class="text-center">

                            </td>
                        </tr>
                        <tr style="display: none" th:id="|detalle-pedido-${p.id}|">
                            <td colspan="12">
                                <div class="row border-bottom">
                                    <div class="col-4 text-center"><strong>Cantidad</strong></div>
                                    <div class="col-4 text-center"><strong>Libro</strong></div>
                                </div>
                                <div class="row" th:each="dp:${p.detalleCompraDtoList}">
                                    <div class="col-4 text-center"><span th:text="|x${dp.cantidad}|"></span></div>
                                    <div class="col-4 text-center"><span th:text="|${dp.nombreLibro}|"></span></div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
