<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Mis direcciones</title>
</head>
<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/direccion.js}"></script>
</div>

<div class="page-content" id="content">
    <div class="container-full">
        <div class="container d-flex justify-content-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nombre remitente</th>
                    <th scope="col">Vía</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Poblacion</th>
                    <th scope="col">Código postal</th>
                    <th scope="col">Edición</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(direcciones)}">
                    <td class="text-center" colspan="6">Todavía no hay direcciones de usuario</td>
                </tr>
                <tr th:each="direccions:${direcciones}">
                    <th scope="row">1</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>3</td>
                    <td>
                        <a class="btn-open-modal-direcciones">Editar</a>
                        <a>Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container d-flex justify-content-center">
            <button class="btn btn-primary btn-open-modal-direcciones" type="button">
                <em class="fa fa-plus"></em>
                <span>Añadir nueva dirección</span>
            </button>
        </div>
    </div>
    <div th:replace="usuario/modals/modal-direccion"></div>
</div>

</body>
</html>