<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/default :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title">Unicorn Book - Mis pedidos</title>
</head>
<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/pedido.js}"></script>

</div>

<div class="page-content" id="content">
    <div class="container">
        <nav aria-label="breadcrumb"
             style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;); background: transparent;">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a class="simple-link" th:href="@{/}">Inicio</a></li>
                <li class="breadcrumb-item active"><a class="simple-link" th:href="@{/usuario/pedidos}">Mis pedidos</a>
                </li>
            </ol>
        </nav>
        <div class="row text-center mb-0">
            <h3>Mis pedidos</h3>
            <hr class="legend-separator">
        </div>
        <div class="justify-content-center">
            <div class="table-responsive" id="pedidos">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col"></th>
                        <th class="text-center" scope="col">Nº pedido</th>
                        <th class="text-center" scope="col">Fecha compra</th>
                        <th class="text-center" scope="col">Direccion</th>
                        <th class="text-center" scope="col">Estado</th>
                        <th class="text-center" scope="col">Fecha entrega</th>
                        <th class="text-center" scope="col">Valor</th>
                        <th class="text-center" scope="col">Acciones</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(pedidos)}">
                        <td class="text-center" colspan="8">Todavía no hay pedidos realizados</td>
                    </tr>
                    <th:block th:each="p:${pedidos}">
                        <tr>
                            <td class="text-center">
                                <a class="btn-detalle-pedido" href="javascript:void(0)"
                                   th:data-id="|detalle-pedido-${p.id}|">
                                    <em class="fa fa-angle-down"></em>
                                </a>
                            </td>
                            <td class="text-center"><span th:text="${p.id}"></span></td>
                            <td class="text-center"><span
                                    th:text="${#dates.format(p.fechaCompra, 'dd-MM-yyyy')}"></span>
                            </td>
                            <td class="text-center"><span th:text="${p.direccionTextoDireccion}"></span></td>
                            <td class="text-center"><span th:text="${p.estadoNombre}"></span></td>
                            <td class="text-center"><span
                                    th:text="${#dates.format(p.fechaEntrega, 'dd-MM-yyyy')}"></span>
                            </td>
                            <td class="text-center"><span
                                    th:text="|${#numbers.formatDecimal(p.costeCompra, 0, 'POINT', 2, 'COMMA')}€|"></span>
                            </td>
                            <td class="text-center">
                                <!--
                                <a class="simple-link" href="#cancelacion-pedido-dummy"
                                   th:if="${p.estadoId==4 || p.estadoId==6}">Cancelar</a>
                                <a class="simple-link" href="#devolucion-pedido-dummy"
                                   th:if="${p.estadoId==7 || p.estadoId==5}">Devolver</a>
                                <span th:if="${p.estadoId==8}">No hay acciones disponibles</span>
                                -->
                            </td>
                        </tr>
                        <tr style="display: none" th:id="|detalle-pedido-${p.id}|">
                            <td colspan="12">
                                <div class="row border-bottom">
                                    <div class="col-4 text-center"><strong>Libro</strong></div>
                                    <div class="col-2 text-center"><strong>Cantidad</strong></div>
                                    <div class="col-2 text-center"><strong>Coste total</strong></div>
                                    <div class="col-4 text-center"></div>
                                </div>
                                <div class="row" th:each="dp:${p.detalleCompraDtoList}">
                                    <div class="col-4 text-center"><span th:text="|${dp.nombreLibro}|"></span></div>
                                    <div class="col-2 text-center"><span th:text="|x${dp.cantidad}|"></span></div>
                                    <div class="col-2 text-center"><span
                                            th:text="|${#numbers.formatDecimal(dp.cantidad*dp.precio, 0, 'POINT', 2, 'COMMA')} (${#numbers.formatDecimal(dp.precio, 0, 'POINT', 2, 'COMMA')} € und.)|"></span>
                                    </div>
                                    <div class="col-2 text-center">
                                        <a class="a-link-icon"
                                           th:href="@{/libro/__${dp.idLibro}__?section=comentarios}">Da tu opinion</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
