<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/admin :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Clientes</title>
</head>

<body>
<div id="links"></div>
<div id="scripts"></div>

<main id="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Clientes</h1>
    </div>
    <p>En construcción</p>
</main>
</body>
</html>
