<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/admin :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Comentarios</title>
</head>

<body>
<div id="links"></div>
<div id="scripts">
    <script th:src="@{/resources/js/busquedas.js}"></script>
    <script th:src="@{/resources/js/admin/comentarios.js}"></script>
</div>

<main id="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Comentarios</h1>
    </div>
    <!-- FILTRO -->
    <form id="advanced-search" method="get" th:action="@{/consola/comentarios}" th:object="${filtro}">
        <div class="row d-flex justify-content-center pt-3 pb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 m-0">
                <div class="dropdown d-flex justify-content-start">
                    <div class="col-lg-2 col-md-2 col-sm-12 mr-3 dropdown-advanced-search">
                        <button aria-expanded="false" class="btn dropdown-toggle dropdown-toggle-advanced-search w-90"
                                data-bs-toggle="dropdown"
                                id="dropdownEstados"
                                th:classappend="${!#lists.isEmpty(filtro.estados)} ? 'items-selected'" type="button">
                            Estado
                        </button>
                        <input class="form-value" disabled name="estados" type="hidden"/>
                        <div aria-labelledby="dropdownTematicas" class="dropdown-menu-advanced-search dropdown-menu p-0"
                             style="width: 10vw">
                            <div class="dropdown-item-text border-bottom-1 bg-light pl-1 pt-3">
                                <div class="row">
                                    <div class="col-8">
                                        <p style="font-size: 1em">
                                            <span class="countSelections"
                                                  th:text="${#lists.size(filtro.estados)}">0</span>
                                            seleccionados
                                        </p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        <button class="btn btn-outline-dark seleccion-global" type="button">TODO
                                        </button>
                                    </div>
                                </div>
                                <p class="nameSelections" style="font-size: 0.75em">
                                </p>
                            </div>
                            <div class="dropdown-divider m-0"></div>
                            <div class="dropdown-item mb-2"
                                 th:classappend="${#lists.contains(filtro.estados, estado.id)} ? 'active'"
                                 th:each="estado:${estadosComentario}">
                                <input class="d-none simulate-value"
                                       th:checked="${#lists.contains(filtro.estados, estado.id)}"
                                       th:value="${estado.id}" type="checkbox"/>
                                <span class="name" th:text="${estado.nombre}"></span>
                                <!--<span th:text="| (${tematica.ocurrencias})|"></span>-->
                                <em class="float-end mt-1 fa fa-times d-none"></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- RESULTADOS -->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th class="text-center" scope="col">Libro</th>
                <th class="text-center" scope="col">Comentario</th>
                <th class="text-center" scope="col">Valoración</th>
                <th class="text-center" scope="col">Fecha</th>
                <th class="text-center" scope="col">Usuario</th>
                <th class="text-center" scope="col">Anónimo</th>
                <th class="text-center" scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="7" th:if="${listadoComentarios.totalPages==0}">
                    Todavía no se han generado comentarios o valoraciones
                </td>
            </tr>
            <tr th:each="comentario:${listadoComentarios}">
                <th:block th:fragment="comentario">
                    <td class="text-center">
                        <a class="simple-link" th:href="@{/libro/__${comentario.idLibro}__}"
                           th:text="${comentario.nombreLibro}"></a>
                    </td>
                    <td class="text-center">
                            <span data-bs-toggle="popover" data-bs-trigger="hover" style="cursor: pointer;"
                                  th:data-bs-content="${comentario.comentario}"
                                  th:text="${#strings.abbreviate(comentario.comentario, 30)}"></span>
                    </td>
                    <td class="text-center">
                        <div class="mb-2">
                            <i class="fa-star" th:classappend="${i<=comentario.estrellas} ? 'fa' : 'far'"
                               th:each="i: ${#numbers.sequence(1, 5)}"></i>
                        </div>
                    </td>
                    <td class="text-center">
                        <span th:text="${#dates.format(comentario.fechaComentario, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td class="text-center">
                        <span th:text="${comentario.nombreUsuario}"></span>
                    </td>
                    <td class="text-center">
                        <span th:text="${comentario.anonimo} ? 'Sí' : 'No'">Sí/No</span>
                    </td>
                    <td class="text-center">
                        <select aria-label="Estado del comentarios" class="form-control form-select estado-comentario"
                                th:data-id-libro="${comentario.idLibro}" th:data-id-usuario="${comentario.idUsuario}">
                            <option class="text-center" th:each="estado:${estadosComentario}"
                                    th:selected="${estado.id==comentario.idEstado}" th:text="${estado.nombre}"
                                    th:value="${estado.id}">
                            </option>
                        </select>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- FIN RESULTADOS -->

    <!-- BARRA DE NAVEGACIÓN -->
    <nav aria-label="Page navigation example" class="bg-transparent mt-5"
         th:if="${listadoComentarios.totalPages!=0}">
        <ul class="pagination justify-content-start">
            <li class="page-item" th:classappend="${listadoComentarios.first} ? 'disabled' : ''">
                <input disabled name="page" th:value="${listadoComentarios.number-1}" type="hidden"/>
                <a aria-disabled="true" class="page-link" tabindex="-1"><</a>
            </li>
            <li class="page-item" th:classappend="${listadoComentarios.number==i}?'active':''"
                th:each="i:${#numbers.sequence(0, listadoComentarios.totalPages - 1)}">
                <input disabled name="page" th:value="${i}" type="hidden"/>
                <a class="page-link" th:text="${i+1}"></a>
            </li>
            <li class="page-item" th:classappend="${listadoComentarios.last} ? 'disabled' : ''">
                <input disabled name="page" th:value="${listadoComentarios.number+1}" type="hidden"/>
                <a class="page-link">></a>
            </li>
        </ul>
    </nav>
        <!-- FIN : BARRA DE NAVEGACIÓN -->
    </form>
    <!-- FIN FILTRO -->
</main>
</body>
</html>
