<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:replace="~{layout/admin :: layout (~{::#title}, ~{::#content}, ~{::#links}, ~{::#scripts})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="title">Unicorn Book - Logs</title>
</head>

<body>
<div id="links"></div>
<div id="scripts"></div>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Logs</h1>
    </div>
    <p id="just-line-break" th:text="${contenidoLog}">
    </p>
    <style>
        #just-line-break {
            white-space: pre-line;
        }
    </style>
</main>
</body>
</html>
